*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0f4a82;
    font-size: 14px;
}

.logo{
    top: 0;
    left: 0;
    position: fixed;
    margin: 0;
    height: 45px;
}

.navbar{
    top: 0;
    width: 100%;
    position: fixed;
    background: rgba(0,0,0,.3);
    margin: 0;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}

.menu-list{
    list-style-type: none;
}

.menu-list li {
    display: inline-block;
    padding: 15px 10px;
}

.navbar a{
    opacity: 100%;
    color: white;
    text-decoration: none;
}

.about-container{
    width: 90%;
    margin: 80px auto;
}

.about{
    background-color: rgba(0,0,0,.2);
    display: flex;
    border: 5px solid orange;
    border-radius: 10px;
    box-shadow: .75em .75em 1em rgba(0, 0, 0, 0.5);
    align-items: center;
}

.background-macbook{
    width: 100%;
}

.my-image {
    height: 200px;
    border-radius: 50%;
    border: 5px solid orange;
}

.about-left{
    flex-basis: 20%;
    padding: 20px;
}

.about-right{
    flex-basis: 80%;
    padding: 20px;
}

.about-title{
    margin-bottom: 10px;
    color: white;
}

.after-title{
    color: white;
}

.before-name{
    color: orange;
}

.contact-form{
    width: 80%;
    margin: 50px auto;
}

.contact-box{
    background-color: #0f4a82;
    display: flex;
    border: 5px solid orange;
    border-radius: 10px;
    box-shadow: .75em .75em 1em rgba(0, 0, 0, 0.5);
}

.contact-left{
    flex-basis: 80%;
    padding: 40px;
}

.contact-title{
    margin-bottom: 10px;
    border-bottom: 5px solid #ADD8E6;
}

.contact-form p{
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20x;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid orange;
    outline: none;
    padding-bottom: 5px;
    background-color: #0f4a82;
}

button{
    background: orange;
    width: 100px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
}

textarea{
    width: 100%;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    border-color: orange;
    background-color: #0f4a82;
}

label{
    margin-top: 6px;
    margin-bottom: 6px;
    display: block;
    color: white;
    font-size: large;
}